<div class="portlet light bordered">
  <div class="portlet-title tabbable-line">
    <div class="caption">
      <i class="{{dynamicBlockField.titleIcon}} {{dynamicBlockField.titleColor}}"></i>
      <span class="caption-subject {{dynamicBlockField.titleColor}} bold uppercase">{{dynamicBlockField.title}}</span>
    </div>
    <ul class="nav nav-tabs">
      <li *ngFor="let tab of tabbars" class="{{tab.active}}">
        <a href="#{{tab.id}}" data-toggle="tab" class="">
          <span class="{{tab.icon}} {{tab.color}}"></span>
          <span class="{{tab.color}}"> {{tab.title}} </span>
        </a>
      </li>
    </ul>
  </div>
  <div class="portlet-body">
    <div class="tab-content">
      <div *ngFor="let viewCfg of viewCfgs" class="tab-pane fade {{viewCfg.active}}" id="{{viewCfg.id}}">
        <ng-container cnDynamicComponent [componentConfig]="viewCfg" [componentCaption]="dynamicBlockField"
        ></ng-container>
      </div>
    </div>
  </div>
</div>
