<div class="col-md-12">
  <div class="portlet light bordered">
    <div class="portlet-title">
      <div class="caption">
        <i class="fa fa-list-alt font-green-sharp"></i>
        <span class="caption-subject font-green-sharp bold">树</span>
      </div>
    </div>
    <div class="portlet-body">
      <cn-dynamic-form
        [config]="_formConfig"
        #form="cnDynamicForm"
        (submit)="submit($event)"
        [(submitValid)]="_submitValid"
      ></cn-dynamic-form>
    </div>
  </div>
</div>


<div class="col-md-12">
  <div class="portlet light bordered">
    <div class="portlet-title">
      <div class="caption font-dark">
        <i class="icon-list font-dark"></i>
        <span class="caption-subject bold uppercase"></span>
      </div>
      <div class="tools"></div>
    </div>
    <div class="portlet-body">
      <div class="table-container">
        <cn-gridview [dtOptions]="_gridConfig"></cn-gridview>
      </div>
    </div>
  </div>
</div>
