<div class="row">
  <div class="{{config.layout}}">
    <div [formGroup]="group">
      <div class="col-md-12">
        <div class="form-group last">
          <button name="search" [disabled]="config.disabled" type="submit"
                  class="btn btn-block btn-outline green-jungle">
            <i class="fa fa-search"></i> 查询
          </button>
          <!--<button type="reset" class="btn default">重置</button>-->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="form-actions">
</div>
