<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption">
      <i class="{{dynamicBlockField.titleIcon}} {{dynamicBlockField.titleColor}}"></i>
      <span class="caption-subject {{dynamicBlockField.titleColor}} bold uppercase">{{dynamicBlockField.title}}</span>
    </div>
    <!--<div class="actions">
      <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
        <i class="icon-cloud-upload"></i>
      </a>
      <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
        <i class="icon-wrench"></i>
      </a>
      <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
        <i class="icon-trash"></i>
      </a>
    </div>-->
  </div>
  <div class="portlet-body">
    <ng-container cnDynamicComponent [componentConfig]="templateConfig"
    ></ng-container>
  </div>
</div>
