<!-- BEGIN HEADER -->
<!--<div class="page-header navbar navbar-default">
  &lt;!&ndash; BEGIN HEADER INNER &ndash;&gt;
  <div class="page-header-inner ">
    &lt;!&ndash; BEGIN LOGO &ndash;&gt;
    <div class="page-logo">
      <h2 *ngIf="title" class="FontLarger font-white">{{title}}</h2>
      <img *ngIf="imgPath" src="{{imgPath}}" class="logo-default">
      <div class="menu-toggler sidebar-toggler">
        <span></span>
      </div>
    </div>
    &lt;!&ndash; END LOGO &ndash;&gt;
    &lt;!&ndash; BEGIN RESPONSIVE MENU TOGGLER &ndash;&gt;
    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
      <span></span>
    </a>
    &lt;!&ndash; END RESPONSIVE MENU TOGGLER &ndash;&gt;
    &lt;!&ndash; BEGIN TOP NAVIGATION MENU &ndash;&gt;
    <ng-content></ng-content>
    &lt;!&ndash; END TOP NAVIGATION MENU &ndash;&gt;
  </div>
  &lt;!&ndash; END HEADER INNER &ndash;&gt;
</div>-->
<!-- END HEADER -->


