<div class="form-group {{config.layout}}" [formGroup]="group">
  <label class="col-md-3 control-label">{{config.label}}</label>
  <div class="col-md-9">
    <div class="{{config.inputClass}}">
      <label class="mt-radio mt-radio-outline"
             *ngFor="let option of config.options">
        <input type="radio"
               value="{{option.value}}"
               [formControlName]="config.name"
        />
        {{option.label}}
        <span></span>
      </label>
    </div>
  </div>
</div>
