<div class="form-group {{config.layout}}"
     [ngClass]="{'has-error':  ((_control.touched || _control.dirty) && !_control.valid)}"
     [formGroup]="group"
>
  <label class="col-md-3 control-label">{{config.label}}</label>
  <div class="col-md-9">
    <div class="input-group input-daterange" date-date-format="yyyy-mm-dd">
      <input
        type="text"
        class="form-control"
        placeholder="{{config.placeholder}}"
        formControlName="{{config.name}}"
      />
      <span class="input-group-addon"> 至 </span>
      <input
        type="text"
        class="form-control"
        placeholder="{{config.placeholder}}"
        formControlName="{{config.name}}"
      />
    </div>
    <span class="{{config.helpClass}}"
          *ngIf="config.helpText">
      {{config.helpText}}
    </span>
    <span class="help-block help-block-error"
          *ngIf="_control.errors?.required && (_control.touched || _control.dirty) && !_control.valid">
      请输入{{config.label}}
    </span>
  </div>
</div>
